In [2]:
import pandas as pd
import numpy as np
from features.preprocessing import prepare_relation_labels

In [3]:
bodies = pd.read_csv("../data/bodies.csv", )
stances = pd.read_csv("../data/stances.csv")

In [4]:
bodies = bodies.rename(columns={"Body ID": "body_id", "articleBody": "article_body"})
stances = stances.rename(columns={"Body ID": "body_id"})
stances.columns = stances.columns.str.lower()

In [5]:
bodies.head()

   body_id                                       article_body
0        0  A small meteorite crashed into a wooded area i...
1        4  Last week we hinted at what was to come as Ebo...
2        5  (NEWSER) – Wonder how long a Quarter Pounder w...
3        6  Posting photos of a gun-toting child online, I...
4        7  At least 25 suspected Boko Haram insurgents we...

In [6]:
stances.head()

                                            headline  body_id     stance
0  Police find mass graves with at least '15 bodi...      712  unrelated
1  Hundreds of Palestinians flee floods in Gaza a...      158      agree
2  Christian Bale passes on role of Steve Jobs, a...      137  unrelated
3  HBO and Apple in Talks for $15/Month Apple TV ...     1034  unrelated
4  Spider burrowed through tourist's stomach and ...     1923   disagree

In [7]:
print("Bodies shape")
bodies.shape

Bodies shape

(1683, 2)

In [8]:
print("Stances shape")
stances.shape

Stances shape

(49972, 3)

In [9]:
stances_uniqe_body_ids = np.unique(stances.body_id.values)

In [10]:
print("Matching body_ids?")
sorted(bodies.body_id.values) == sorted(stances_uniqe_body_ids)

Matching body_ids?

True

In [11]:
print(f"Unique stances: {np.unique(stances.stance)}")

Unique stances: ['agree' 'disagree' 'discuss' 'unrelated']

In [12]:
df = pd.merge(bodies, stances, on="body_id")

In [13]:
print("Class split in the dataset")
df['stance'].value_counts()

Class split in the dataset

unrelated    36545
discuss       8909
agree         3678
disagree       840
Name: stance, dtype: int64

In [14]:
print("Class split in the dataset (% of all labels)")
df['stance'].value_counts(normalize=True) * 100

Class split in the dataset (% of all labels)

unrelated    73.130953
discuss      17.827984
agree         7.360122
disagree      1.680941
Name: stance, dtype: float64

In [ ]:
df = prep.prepare_relation_labels()